<!doctype html>
<html>
  <head>
    <mets charset="utf-8">
    <title>HTML/CSS Dogs Page</title>
  </head>
  <body>
    <header>All about dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
    </nav>
    <img src="http://stuffpoint.com/dogs/image/461366-dogs-happy-dog.jpg">
    <img src="http://www.doggie-diva.com/assets/images/doggles_dog_glasses.jpg">
    <img src="http://gohlikim.com/wp-content/uploads/2013/11/walking-dog-illustration.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/V4LnorVVxfw" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c) Dogs</small>
    </footer>
  </body>
</html>
