<!doctype html>
<html>
  <head>
    <!-- This is a comment -->
    <mets charset="utf-8">
    <title>HTML/CSS Intro Page</title>
  </head>
  <body>
    <header>My Header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
    </nav>
    <h1>My Content header</h1>
    <article>
      <h2>Toy Story</h2>
      <p>Toy Story is a really funny movie!</p>
      <a href="http://toystory.disney.com/">
        <img src="http://lh5.ggpht.com/_6Ivc_i2S2_4/SubpuwcrIII/AAAAAAAAA78/rGP-j484yVI/s640/toy-story_01.jpg">
       </a>
       <iframe width="420" height="315" src="//www.youtube.com/embed/5G0j_Huv2Fg" frameborder="0" allowfullscreen></iframe>
      <h2>My Article header</h2>
      <p>this my my article content</p>
    </article>
    <footer>
      <small>(c) 2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
