<!doctype html>
<html>
  <head>
    <mets charset="utf-8">
    <title>HTML/CSS Ninja Page</title>
  </head>
  <body>
    <header>All about Ninjas</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>
    <img src="/images/ninja-surprise.jpg">
    <img src="/images/Ninjapirate.gif">
    <img src="/images/rapheal1.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/dLlMvLtKrlA" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c) Ninjas</small>
    </footer>
  </body>
</html>
